body {
  padding: 0;
  margin: 0;
}

#messages {
  text-align: center;
  padding: 3px;
}

#statusPanel {
  text-align: center;
  padding: 3px;
}

#statusPanel .mines { margin-left: 30px; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
}

td {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  background: silver;
  padding: 0;
}

.open {
  background: white;
}

.flag:after { content: '\2622' }

.mark:after { content: '?' }

.bomb:after { content: '\2620' }

.mark, .flag {
  font-weight: bold;
}

.mark {
  color: green;
}

.flag {
  color: red;
}

.flag.wrong {
  background: red;
  color: white;
}

.victory {
  color: green;
  font-weight: bold;
}

.failure {
  color: red;
  font-weight: bold;
}
